* {
    text-decoration-line: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #fff;
}

body {
    width: 100%;
    background-color: #000;
}
#main_con {
    /* background-color: blueviolet; */
    height: 200%;
}

#Anchovy {
    position: fixed;
    width: 50%;
    /* background-color: red; */
    height: 50%;
    top: 40%;
    left: 25%;
    /* background-color: blue; */
    /* opacity: 30%; */
    /* mix-blend-mode: exclusion; */
    /* pointer-events: none; */
}

.Gravitas {
        font-family: "Gravitas One", serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: -0.08em;
      
}

.type_main {
    width: 50%;
    /* background-color: brown; */
    text-align: center;
    font-size: 1.8em;
    margin: auto;
    margin-top: 4%;
    word-wrap: break-word;
}

.type_main div {
    margin-bottom: 3% ;
    line-height: 2em;
}
.type_main p {
line-height: 1.4em;
}