* {
    text-decoration-line: none;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #fff;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

body {
    background-color: rgb(255, 255, 255);
    font-family: "Kalnia", serif;
    font-optical-sizing: auto;
    font-weight: 380;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    letter-spacing: -0.06em;
    word-wrap: break-word;
}

#back {
    position: fixed;
    left: -20vw;
    top: -50vh;
    width: 140vw;
    height: 200vh;
    border-radius: 100%;
    background-color: rgb(0, 0, 0);
    filter: blur(999px);
    -webkit-filter: blur(999px);
    z-index: -9999;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 6vh;
    padding: 1vh 0;
    overflow: hidden;
    /* background-color: rgb(255, 0, 0); */
}
header .h-wrap {
    /* float: left; */
    width: 80%;
    height: 100%;
    margin: 0 auto;
    /* background-color: aqua; */
}

#oh {
    float: left;
    width: 3vw;
    height: 100%;
    fill: none;
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 50px;
    /* background-color: aqua; */
    margin: 0 auto;
    text-align: center;
}

header ul {
    width: 30%;
    margin-left:70% ;
    height: 100%;
    /* background-color: aqua; */
}

header ul li {
    position: relative;
    text-align: center;
    width: 33%;
    height: 70%;
    margin-top: 4%;
    /* padding-top: 30%; */
    float: left;
    /* background-color: blue; */
}

p{
    text-align: center;
    font-size: 1.8vw;
    line-height: 1.4em;
    display: block;
}

.headline {
    font-weight: 700;
    transition: 1s;
}



/* 모바일--------------------------------------------------------------------------------- */
@media (max-width:780px) {
    
    #back {
        position: fixed;
        left: -60vw;
        top: -20vh;
        width: 220vw;
        height: 140vh;
        border-radius: 100%;
        background-color: rgb(0, 0, 0);
        filter: blur(8em);
        -webkit-filter: blur(8em);
        z-index: -9999;
    }

    p{
        font-size: 3.6vw;
        line-height: 1.4em;
    }
    
    .headline {
        font-weight: 500;
    }

}