* {
    text-decoration-line: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #fff;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
::-webkit-scrollbar {
    display: none;
  }
  
.scroll {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
  }
  
body {
    width: 100%;
    background-color: #000;
}

/* 기본 폰트 셋팅 */

.Kalnia {
    font-family: "Kalnia", serif;
    font-optical-sizing: auto;
    font-weight: 430;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    letter-spacing: -0.1em;
}

/* 메인 콘텐츠 박스 */

#main_con {
    height: 200%;
}
.subcon_title {
    transition: ease-in-out .5s;
}
#Anchovy {
    position: fixed;
    width: 100%;
    height: 130%;
    top: 0%;
    transition: ease-in-out .5s;
}

.type_main {
    width: 54%;
    text-align: center;
    font-size: 1.8em;
    margin: auto;
    margin-top: 5.4%;
    word-wrap: break-word;
}

.type_main h1 {
    margin-bottom: 3% ;
    line-height: 1.1em;
    font-weight: 700;
}
.type_main p {
line-height: 1.6em;
}

.con-box {
    width: 100%;
    padding:32% 0%;
}

.con-box h1 {
    margin-top:0%;
    text-align:center;
    font-weight: 700;
    font-size: 10em;
    letter-spacing: -0.04em;
       line-height: 1.1em;
    margin-bottom: -0.2%;
}
.con-box p {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1.8em;
    letter-spacing: -0.04em;
}

#main_con h1 {
    transition:1s;
}

/* 서브 콘탠츠 1 */
#sub_con_1 {
    margin-top: 3%;
    width: 100%;
}

#sub_con_1 #canvas3d-1 {
    height: 140%;
    position: fixed;
    top: -4%;
    opacity: 0%;
    transition-delay: .7s;
    transition: .7s;
    z-index: 0;
    pointer-events: none
}

#sub_con_1 .t_box {
    letter-spacing: -0.04em;
    position: relative;
    width: 100%;
    padding: 2% 0;
    top: 0%;
    pointer-events: none;
    z-index: 999;
    font-weight: 200;
    /* background-color: aqua; */
}

#sub_con_1 .t_box div {
    width: 100%;
    margin-top:26%;
    height: 1%;
    /* background-color: aqua; */
}

#sub_con_1 h2 {
    width: 100%;
    text-align: center;
    transition: 1s;
    font-size: 2em;
    font-weight: 400;
    display: inline-block;
    /* background-color: aqua; */
}

/* 컨텐츠2번 */

.sub_con_2 {
    width: 100%;
    height: 100%;

}

#sub_con_2 #Anchovy_3{
    width: 100%;
}